<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>비밀번호 찾기</title>
    <%- include('header.ejs') %>
    <script>
        $('#check_id').click(function(){
            const input_id = $('#_id').val()
            // ajax을 이용하여 서버와 비동기 통신
            // 해당하는 id가 데이터베이스에 존재하는가?
            $.ajax(
                {
                    url : '/verify',   //비동기 통신을 할 주소값
                    method : 'get', 
                    datatype : 'json', 
                    data : {
                        _id : input_id
                    }
                }
            )
            .done(function(result){
                // result : 비동기 통신이 완료한 뒤 서버가 유저에게 보내는 데이터
                // /check_id에서 id를 체크한 뒤 사용 가능한 아이디면 True
                // 사용이 불가능한 id라면 false 
                // true이면 비밀번호, 비밀번호 확인, 이름을 입력할 수 있는 공간을 보여준다.
                // span 태그를 숨기고 id를 입력하는 부분을 수정 불가능하게 한다. 
                if(result){
                    // display 라는 class가 display none이기 때문에 
                    // 해당하는 class를 가지고 있지 않다면 화면에 표시
                    // $('#info').toggleClass('display')
                    // $('#check_id').toggleClass('display')
                    $('#_id').attr('readonly', 'true')
                }
            })
        })
    </script>
<script>
    function fail(){//휴대폰본호가 정상아님 state==0
        alert("휴대폰번호를 입력 해 주셔요")
    }
    function timeover(){//인증번호 정상확인 state==2
        alert("3분이 지났습니다. 다시 휴대폰번호를 입력 후 인증해 주세요^^ ")
    }
    function send(){ //state==1
        alert("인증번호(숫자4자리 이하)가 발송되었습니다")
    }
    function wel(){//문자인중이 되어야 비민번호 변경이 가능
        alert("문자인중 후, 비밀번호 변경이 가능합니다")
    }
    </script>


</head>

<% if(state==3){%>
    <body class="bg-gradient-secondary" onload="wel()" >
<%}else{ if(state==0){%>
<body class="bg-gradient-infomation" onload="fail()" >
    <%}else{ if(state==1){%>
        <body class="bg-gradient-danger" onload="send()" >
            <%}else{ if(state==2){%>    
                <body class="bg-gradient-primary" onload="timeover()" >
            <%}}}}%>
    <div class="container">
        <div class="text-center">
            <br>
            <a id="signinlink" href="/index" >홈으로</a>
        </div>
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img src="/img/005.jpg" width="300px">
                                        <br><br>
                                        <h6 class="h6 text-gray-900 mb-2">
                                            로그인비밀번호 변경<br>
                                            
                                        </h6>
                                        <br>
                                        <div class="text-primary">
                                            <i class="small" >
                                                <br>휴대폰번호로 인증 해 주세요
                                            </i>
                                        </div>
                                    </div>
                                    <form class="user" action="/auth1" method="post">
                                        <div class="form-group">
                                             <input type="text" class="form-control form-control-user" 
                                                id="_id" name="phone">

                                                <br>
                                            <div class="text-center">    
                                                <!-- <button class="btn btn-primary" onclick="location.href='/auth'">문자인증</button> -->
                                                <button class="btn btn-primary" >인증번호전송</button>
                                            </div>
                                        </div>
                                    </form>
                                      <!-- <button class="btn btn-primary" onclick="location.href='/auth'">문자인증</button> -->  
                                    <form class="user" action="/verify1" method="post">
                                        <br>
                                        <div class="text-danger">
                                            <label class="small">※ 전송된 인증번호를 3분 이내에 입력하세요
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                            id="check_id" name='input_auth_code'  placeholder="4자리 이하 인증번호 입력">
                                        </div>
                                        <br>                                        
                                        <div class="form-group">
                                        <div class="text-center">
                                                <button class="btn btn-danger" >인증확인</button>
                                        </div>
                                        </div>
                                    </form>  
                                    <hr>
                                    <br>
                                    <br>
                                    <div class="text-center">
                                        <a class="small" href="/signup">회원가입</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/">이미 회원 가입하셨다면 로그인</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 d-none d-lg-block ">
                                <img src="./img/kk.png" width="400px">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>