<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://lite.payapp.kr/public/api/payapp-lite.js"></script>
    <script>
        function myPay() {
            PayApp.setForm('MyForm');
            PayApp.call();
        }
    </script>
</head>
<body>
    <form name="MyForm">
        <input type="hidden" name="userid"   value="qop1513">
        <input type="hidden" name="shopname" value="케이그라운드">
        <input type="hidden" name="goodname" value="이만점충전">
        <input type="hidden" name="price"    value="20000">
    </form>

    <form action="/contract/charge" method="post">
        <label>이만점 충전합니다</label>
        <input type="number" name = "_amount">
        <input type="submit" value="충전하기" onclick="myPay()" >
        <!-- <a href="#" onclick="myPay();">결제하기</a> -->
    </form>
</body>
</html>




