<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://lite.payapp.kr/public/api/payapp-lite.js"></script>
    <!-- <script>
        function myPay() {
            PayApp.setForm('MyForm');
            PayApp.call();
        }
    </script>
</head>
<body>
    <form name="MyForm">
        <input type="hidden" name="userid"   value="qop1513">
        <input type="hidden" name="shopname" value="케이그라운드">
        <input type="hidden" name="goodname" value="이만점충전">
        <input type="hidden" name="price"    value="20000">
    </form>

    <form action="/contract/charge" method="post">
        <label>이만포인트 충전합니다</label>
        <input type="number" name = "_amount">
        <input type="submit" value="충전하기" onclick="myPay()" >
        <a href="#" onclick="myPay();">결제하기</a>
    </form>
</body>
</html> -->

<script>
    PayApp.setDefault('userid',     'qop1513');
    PayApp.setDefault('shopname',   '케이그라운드');
    function payappPay(){
        PayApp.setParam('goodname', '2만포인트');
        PayApp.setParam('price', '20000');
        PayApp.setParam('recvphone', '01037248010');
        PayApp.setParam('smsuse', 'y');
        PayApp.setParam('openpaytype', 'card,phone,kakaopay,naverpay,smilepay');
        PayApp.setParam('redirectpay', '1');
        PayApp.setParam('skip_cstpage', 'y');
        PayApp.call();
    }
</script>
<form action="/contract/charge" method="post">
<a href="https://www.payapp.kr/L/z2ZDY7" onclick="payappPay();">결제하기</a>
</form>
</head>
<body>
    <form action="/contract/charge" method="post">
        <label>충전할 토큰의 수량</label>
        <input type="number" name = "_amount">
        <input type="submit" value="충전하기">

    </form>
</body>
</html>

