<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta name="google-site-verification" content="wp7f1PPIXyMTDfnzLCLTmXdBRmevIWKALlCAhvfZW-k" />
<link rel="stylesheet" type="text/css" href="/css/rolling.css">
<link rel="stylesheet" type="text/css" href="/css/sb_admin-2.css">
<link rel="stylesheet" type="text/css" href="/css/sb_admin-2.min.css">
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/js/rolling.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <title>케이그라운드 회원탈퇴</title>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <br>
            <a class="small" href="/index"><img src="/img/home.png"></a>
        </div>
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div align="center">
                                        <h5>회원 탈퇴 완료</h5>
                                        
                                            <br>
                                            그동안 케이그라운드와 함께 해주셔서 감사드립니다 

                                            <br> <br>
                                                탈퇴가 되셨습니다. 
                                                <br>모든 포인트가 삭제되어 영구히 회복이 안됩니다.<br>
                                            
                                                 

                                    </div>
                                </div>
                            </div> 
                        </div>
                                
                        <!-- 2열 -->
                        <div class="col-lg-6">
                            <div class="col-lg-5 text-center " >
                                <img src="/img/kk.png"  width="100%" >
                            </div>      
                        </div>
                    </div>
                </div> 

            </div>
        </div>
   
    </div>

    </body>
    </html>