<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>케이그라운드 페스티벌 참가 K포인트 결제 확인</title>
    <%- include('header.ejs') %>

    <script>
        function signup(){
          location.href = '/signup'
        }
        function fail(){
                  alert("결제비밀번호(숫자6자리)를 입력하시면, 자동으로 페스티벌에 참가되며, 2,000KPoint가 출금됩니다")      
                   }
</script>

<%if(state==0){%>
<body class="bg-gradient-primary" onload="fail()" >
    <%}else{%>
        <body class="bg-gradient-primary" >
            <%}%>
    <div class="container">
        <div class="text-center">
            <br>
            <a id="signinlink" href="/index" ><img src="/img/home.png"></a>
        </div>       
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- 1열 -->
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img src="/img/title_008.jpg" width="100%">

                                        <div class="text-primary">
                                            <img src="/img/title_002.png" width="100%">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                &nbsp;&nbsp;<%=username%>님
                                            </div>
                                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                                <%aa=amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                K포인트 : <%=aa%>
                                            </div>
                                            <hr>
                                        <form class="user" action="/contract/enterpay" method="post">
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                    id="_numeric6" name="_numeric6"
                                                    placeholder="결제 비밀 번호(숫자6자리)">
                                                    <br>
                                                <div class="text-center">    
                                                    <!-- <button class="btn btn-primary" 문자인증</button> -->
                                                    <button class="btn btn-danger" >[참가] 2,000 K포인트결제</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div> 
                                </div>
                                <hr>
                                <br>

                                <br>
                                <br>
                                </div>
                            </div></div>


                                <div class="container">
                                    <br>
                                        <img src="/img/kk.png"  width="100%" >
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>