<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>케이그라운드 페스티벌 참가 K포인트 결제 확인</title>
    <%- include('header.ejs') %>

</head>

<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h6 class="h6 text-gray-900 mb-2">케이그라운드 페스티벌 참가<br> K포인트 결제 확인</h6>
                                        <br>
                                        <div class="text-primary">
                                            <i class="small" >
                                                결제 비밀 번호를 입력하시고 확인 하시면,,,, 
                                                <br>K포인트 2000원이 결제 되고
                                                <br>
                                                <br>대회참여권와 행운상추첨권이 부여됩니다. 
                                            </i>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="text-muted">
                                            <i class="small" >
                                                결제 비밀 번호를 입력하세요^^
                                            </i>
                                        </div>
                                        <form class="user" action="/contract/enterpay" method="post">
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user"
                                                    id="_numeric6" name="_numeric6"
                                                    placeholder="숫자6자리">
                                                    <br>
                                                <div class="text-center">    
                                                    <!-- <button class="btn btn-primary" onclick="location.href='/auth'">문자인증</button> -->
                                                    <button class="btn btn-danger" >[참가] 2,000 K포인트결제</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div> 
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-secondary" href="/score">대회참가내역 확인 + score입력</button>
                                    <button class="btn btn-secondary" href="https://www.bkscreen.com/article/%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD/1/52/">대회규정</button>
                                </div>
                                <br>
                                <div class="text-center">
                                    <a class="small" href="/index">홈</a>
                                </div>
                                <br>
                                <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>