<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오류 알림</title>
</head>
<body>
    <br><br><br>
    <div calss="text-center">
        로그인 오류입니다^^
        확인을 누르시고 다시 로그인하세요
        <hr><Br>
        <button class="btn btn-Secondary" onclick="location.href='/login'">확인</button>
    </div>
</body>
</html>