<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오류 알림</title>
</head>
<body>
    <br><br><br>
    <div calss="text-center">
        오류입니다^^
        다음 확인을 누르시면 다시 진행이 됩니다
        <hr><Br>
        <button class="btn btn-Secondary" onclick="location.href='/index'">확인</button>
    </div>
</body>
</html>