<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="wp7f1PPIXyMTDfnzLCLTmXdBRmevIWKALlCAhvfZW-k"/>

    <link rel="stylesheet" type="text/css" href="/css/rolling.css">
    <link rel="stylesheet" type="text/css" href="/css/sb_admin-2.css">
    <link rel="stylesheet" type="text/css" href="/css/sb_admin-2.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
	<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/js/rolling.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<title>케이그라운드 쇼핑몰</title>

<body class="bg-gradient-primary">      
 
    <div class="container">
        <br>
        <div align="center">
            
            <a  href="/index"><img src="/img/home.png"></a>
        </div>
        <br>
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-6">
                                    <div align="center">
                                        <img src="/img/005.jpg" width="300px">
                                        <br><br>
                                    </div>
                                    <div class="text-primary" align="center">
                                        <%=username%>님
                                    </div>
                                    <div align="center">
                                        <%aa=amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                        K포인트 : <%=aa%>
                                    </div>
                                        <hr>
                                        <br>
                                        <img src="/giga/gigagolf.jpg" width="300px">

                                        <div class="text-primary">
                                            <div align="center">
                                                <br>
                                                <div class=" text-success">
                                                    ※ 상세 페이지에서 확인하세요<br>
                                                    (KPoint결제 가능금액)</div>
                                                </div>
                                                    <br>
                                            </div>
                                            <table class="border-end border-bottom" >
                                               
                                                <tr>
                                                    <td> 
                                                        <a href="gigadetail/?name=giga_001"><img src="/giga/giga001_fullset_2023년형 둘리나켓여성용.jpg" class="border border-primary" width="180"></a>
                                                    </td>
                                                    <td> 
                                                        <a href= "gigadetail/?name=giga_002"><img src="/giga/giga002_fullset_DGT 남성용 스틸 풀세트.jpg"   class="border border-primary"width="180" ></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        골프채 fullset<br>
                                                        2023년 둘리나켓 디오사2 <br>
                                                        풀세트 여성용  <br>
                                                        <div class="text-danger">2,200,000원</div>
                                                        <div class="text-success">(500,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        골프채 fullset<br>
                                                        DGT 스틸 <br>
                                                        풀세트 남성용 <br>
                                                        <div class="text-danger">1,200,000원</div>
                                                        <div class="text-success">(400,000KPoint)</div> 
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td><br><hr>  
                                                        <a href="gigadetail/?name=giga_003"><img src="/giga/giga003_driver_고반발 드라이버 - 남성용.jpg"   class="border border-primary" width="180" ></a>
                                                    </td>
                                                    <td><br><hr>
                                                        <a href="gigadetail/?name=giga_004"><img src="/giga/giga004_wood_엑스파일 베타 블랙 페어웨이 우드.jpg"    class="border border-primary" width="180"></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        골프채 드라이버<br>
                                                        X-FILE 베타 쳅터2 고반발 드라이버 <br>
                                                        남성용 <br>
                                                        <div class="text-danger">1,000,000원</div>
                                                        <div class="text-success">(300,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        골프채 우드<br>
                                                        엑스파일 베타 블랙<br>
                                                        페어웨이 우드 <br>
                                                        <div class="text-danger">300,000원</div>
                                                        <div class="text-success">(100,000KPoint)</div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><br><hr>
                                                        <a href="gigadetail/?name=giga_005"><img src="/giga/giga005_util_딤플 파워 유틸리티 하이브리드.jpg" class="border border-primary" width="180"></a>
                                                    </td>
                                                    <td><br><hr>
                                                        <a href= "gigadetail/?name=giga_006"><img src="/giga/giga006_wedge_포지드 투어사틴 단조 웨지 6종 택1.jpg"   class="border border-primary"width="180" ></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        골프채 유틸리티<br>
                                                        딤플 파워<br>
                                                        유틸리티 하이브리드<br>
                                                        <div class="text-danger">250,000원</div>
                                                        <div class="text-success">(100,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        골프채 웨지<br>
                                                        포지드 투어사틴 단조<br>
                                                        웨지 6종 택1 <br>
                                                        <div class="text-danger">300,000원</div>
                                                        <div class="text-success">(130,000KPoint)</div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>   <br><hr>
                                                        <a href="gigadetail/?name=giga_007"><img src="/giga/giga007_putter_ SUS단조 스틸 퍼터.jpg"   class="border border-primary" width="180" ></a>
                                                    </td>
                                                    <td><br><hr>
                                                        <a href="gigadetail/?name=giga_008"><img src="/giga/giga008_putter_제타2 말렛 퍼터-커버 포함.jpg"    class="border border-primary" width="180"></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        골프채 퍼터<br>
                                                        2022년형 그랜드기어 <br>
                                                        DGT SUS단조 퍼터<br>
                                                        <div class="text-danger">400,000원</div>
                                                        <div class="text-success">(200,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        골프채 퍼터<br>
                                                        2022년형 그랜드기어<br>
                                                        제타2 말렛 퍼터<br>
                                                        <div class="text-danger">250,000원</div>
                                                        <div class="text-success">(130,000KPoint)</div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><br><hr>
                                                        <a href="gigadetail/?name=giga_009"><img src="/giga/giga009_putter_제타2 와이드일자 퍼터.jpg" class="border border-primary" width="180"></a>
                                                    </td>
                                                    <td><br><hr>
                                                        <a href= "gigadetail/?name=giga_010"><img src="/giga/giga016_GPS 미니 거리측정기.jpg"   class="border border-primary"width="180"  ></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        골프채 퍼터<br>
                                                        2022년형 그랜드기어<br>
                                                        제타2 와이드일자 퍼터<br>
                                                        <div class="text-danger">250,000원</div>
                                                        <div class="text-success">(130,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        거리측정기<br>
                                                        그린뷰 GPS <br>
                                                        미니 거리측정기  <br>
                                                        <div class="text-danger">450,000원</div>
                                                        <div class="text-success">(200,000KPoint)</div>                                                        
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>  <br><hr> 
                                                        <a href="gigadetail/?name=giga_011"><img src="/giga/giga011_캐디백 멀티 캐디백 공용.jpg"   class="border border-primary" width="180" ></a>
                                                    </td>
                                                    <td><br><hr>
                                                        <a href="gigadetail/?name=giga_012"><img src="/giga/giga012_캐디백_GT3스탠드 캐디백.jpg"    class="border border-primary" width="180"></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        캐디백(둘리나켓)<br>
                                                        4휠(바퀴4개 360도회전)<br>
                                                        멀티 캐디백 -공용<br>
                                                        <div class="text-danger">450,000원</div>
                                                        <div class="text-success">(170,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        캐디백<br>
                                                        GT3스탠드 캐디백 <br>
                                                        2종 택1  <br>
                                                        <div class="text-danger">350,000원</div>
                                                        <div class="text-success">(100,000KPoint)</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> <br><hr>  
                                                        <a href="gigadetail/?name=giga_013"><img src="/giga/giga013_캐디백_프리미엄 휠바퀴 캐디백.jpg"   class="border border-primary" width="180" ></a>
                                                    </td>
                                                    <td><br><hr>
                                                        <a href="gigadetail/?name=giga_014"><img src="/giga/giga014_천연고무 논슬립그립.jpg"    class="border border-primary" width="180"></a>
                                                    </td>
                                                </tr>
                                                <tr>  
                                                <tr>
                                                    <td>
                                                        캐디백(남여 공용)<br>
                                                        프리미엄 휠(바퀴) <br>
                                                        캐디백/보스턴백 세트<br>
                                                        <div class="text-danger">600,000원</div>
                                                        <div class="text-success">(250,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        그립<br>
                                                        100% 천연 고무 논슬립<br>
                                                        5종 택1<br>
                                                        <div class="text-danger">20,000원</div>
                                                        <div class="text-success">(10,000KPoint)</div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>   
                                                        <br><hr>
                                                        <a href="gigadetail/?name=giga_015"><img src="/giga/giga015_그랜드기어 피스톨 2.0 퍼터 그립 6종 택1.jpg"   class="border border-primary" width="180" ></a>
                                                    </td>
                                                    <td>
                                                        <br><hr>
                                                        <a href="gigadetail/?name=giga_016"><img src="/giga/giga016_GPS 미니 거리측정기.jpg"    class="border border-primary" width="180"></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        퍼터 그립<br>
                                                        그랜드기어 피스톨 2.0 <br>
                                                        퍼터 그립 6종 택1<br>
                                                        <div class="text-danger">30,000원</div>
                                                        <div class="text-success">(150,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        거리측정기<br>
                                                        그린뷰 GPS <br>
                                                        미니 거리측정기  <br>
                                                        <div class="text-danger">450,000원</div>
                                                        <div class="text-success">(200,000KPoint)</div>
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>  
                                </div>  
                        </div>
                        
                            
                            <!-- 2열 -->
                            <div class="col-lg-6">
                                <div class="col-lg-5">
                                    <img src="/img/kk.png"  width="100%" >
                                </div>      
                            </div>
                        </div>
                        </div> 

                        </div>
                    </div>

                    <!--row-->

                </div>
            </div>
        </div>
    <!-- Outer Row -->
    </div>
</body>
</html>