<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="wp7f1PPIXyMTDfnzLCLTmXdBRmevIWKALlCAhvfZW-k"/>

    <link rel="stylesheet" type="text/css" href="/css/rolling.css">
    <link rel="stylesheet" type="text/css" href="/css/sb_admin-2.css">
    <link rel="stylesheet" type="text/css" href="/css/sb_admin-2.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
	<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/js/rolling.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
 

<title>쇼핑몰 골프장갑</title>

</head>
<body class="bg-gradient-primary">      
 
    <div class="container">
        <br>
        <div align="center">
            
            <a  href="/index"><img src="/img/home.png"></a>
        </div>
        <br>
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="p-6">
                                    <div align="center">
                                        <img src="/img/005.jpg" width="300px">
                                        <br><br>
                                    </div>
                                    <div class="text-primary" align="center">
                                        <%=username%>님
                                    </div>
                                    <div align="center">
                                        <%aa=amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                        K포인트 : <%=aa%>
                                    </div>
                                        <hr>
                                        <br>
                                    <div align="center">    
                                        <img src="/gloves/gloves_12_10000_여한손.jpg" width="80px">
                                        <img src="/gloves/gloves_11_10000_남한손.jpg" width="80px">
                                        <img src="/gloves/gloves_4_10000_남.jpg" width="80px">
                                        <h3 align="center">골프장갑</h3>
                                         
                                            
                                        <br>
                                        <div class=" text-success">
                                            ※ 상세 페이지에서 확인하세요<br>
                                            (KPoint결제 가능금액)</div>
                                        </div>
                                        <br>
                                        <div class=" text-danger text-center" >
                                            ※ 골프장갑은 최소 2개 이상
                                            <br> 주문가능합니다.
                                        </div>
                                    </div>
                                            <table class="table" >
                                               
                                                <tr>
                                                    <td> 
                                                        <a href='glovesdetail/?name=gloves_001'><img src="/gloves/gloves_1_10000_여.jpg" class="border border-primary" width="180"></a>
                                                    </td>
                                                    <td> 
                                                        <a href= 'glovesdetail/?name=gloves_002'><img src="/gloves/gloves_2_15000_여.jpg"   class="border border-primary"width="180" ></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        골프장갑(여성)<br>
                                                        통기원단 <br>
                                                        연습용 양손  <br>
                                                        <div class="text-danger">10,000원</div>
                                                        <div class="text-success">(2,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        골프장갑(여성)<br>
                                                        반양피 원단 <br>
                                                        연습용 왼손   <br>
                                                        <div class="text-danger">15,000원</div>
                                                        <div class="text-success">(5,000KPoint)</div>
                                                    </td>
                                                    <hr>
                                                </tr>
                                                <tr>
                                                    <td><br><hr>  
                                                        <a href="glovesdetail/?name=gloves_003"><img src="/gloves/gloves_3_10000_남.jpg" class="border border-primary" width="180"></a>
                                                    </td>
                                                    <td><br><hr> 
                                                        <a href= "glovesdetail/?name=gloves_004"><img src="/gloves/gloves_4_10000_남.jpg"   class="border border-primary"width="180" ></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        골프장갑(남성)<br>
                                                        통기원단 <br>
                                                        연습용 왼손 <br>
                                                        <div class="text-danger">10,000원</div>
                                                        <div class="text-success">(3,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        골프장갑(남성)<br>
                                                        반양피 원단 <br>
                                                        연습용, 왼손  <br>
                                                        <div class="text-danger">10,000원</div>
                                                        <div class="text-success">(2,500KPoint)</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><br><hr>
                                                        <a href="glovesdetail/?name=gloves_005"><img src="/gloves/gloves_5_18000_여양손.jpg" class="border border-primary" width="180"></a>
                                                    </td>
                                                    <td><br><hr>
                                                        <a href= "glovesdetail/?name=gloves_006"><img src="/gloves/gloves_6_12000_남한손.jpg"   class="border border-primary"width="180" ></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        골프장갑(여성)<br>
                                                        합성피혁 <br>
                                                        양손장갑  <br>
                                                        <div class="text-danger">18,000원</div>
                                                        <div class="text-success">(5,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        골프장갑(남성)<br>
                                                        에어홀 논슬립 <br>
                                                        필드용 왼손 <br>
                                                        <div class="text-danger">12,000원</div>
                                                        <div class="text-success">(4,000KPoint)</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><br><hr>
                                                        <a href="glovesdetail/?name=gloves_007"><img src="/gloves/gloves_7_12000_여한손.jpg" class="border border-primary" width="180"></a>
                                                    </td>
                                                    <td><br><hr>
                                                        <a href= "glovesdetail/?name=gloves_008"><img src="/gloves/gloves_8_15000_여한손.jpg"   class="border border-primary"width="180" ></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        골프장갑(여성)<br>
                                                        에어홀 논슬립 <br>
                                                        왼손장갑  <br>
                                                        <div class="text-danger">12,000원</div>
                                                        <div class="text-success">(4,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        골프장갑(여성)<br>
                                                        스파이더핏0.3m <br>
                                                        특수합피/왼손장갑  <br>
                                                        <div class="text-danger">15,000원</div>
                                                        <div class="text-success">(5,000KPoint)</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><br><hr>
                                                        <a href="glovesdetail/?name=gloves_009"><img src="/gloves/gloves_9_10000_남한손.jpg" class="border border-primary" width="180"></a>
                                                    </td>
                                                    <td><br><hr>
                                                        <a href= "glovesdetail/?name=gloves_010"><img src="/gloves/gloves_10_10000_여한손.jpg"   class="border border-primary"width="180" ></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        골프장갑(남성)<br>
                                                        반양피 T3711<br>
                                                        왼손장갑  <br>
                                                        <div class="text-danger">10,000원</div>
                                                        <div class="text-success">(2,500KPoint)</div>
                                                    </td>
                                                    <td>
                                                        골프장갑(여성)<br>
                                                        반양피G3711LB <br>
                                                        왼손  <br>
                                                        <div class="text-danger">10,000원</div>
                                                        <div class="text-success">(3,000KPoint)</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><br><hr>
                                                        <a href="glovesdetail/?name=gloves_011"><img src="/gloves/gloves_11_10000_남한손.jpg" class="border border-primary" width="180"></a>
                                                    </td>
                                                    <td><br><hr>
                                                        <a href= "glovesdetail/?name=gloves_012"><img src="/gloves/gloves_12_10000_여한손.jpg"   class="border border-primary"width="180" ></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        골프장갑(남성)<br>
                                                        합성피혁T5803M <br>
                                                        왼손장갑  <br>
                                                        <div class="text-danger">10,000원</div>
                                                        <div class="text-success">(2,500KPoint)</div>
                                                    </td>
                                                    <td>
                                                        골프장갑(여성)<br>
                                                        T716LB<br>
                                                        왼손  <br>
                                                        <div class="text-danger">10,000원</div>
                                                        <div class="text-success">(3,000KPoint)</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><br><hr>
                                                        <a href="glovesdetail/?name=gloves_013"><img src="/gloves/gloves_4_10000_남.jpg" class="border border-primary" width="180"></a>
                                                    </td>
                                                    <td><br><hr>
                                                        <a href= "glovesdetail/?name=gloves_014"><img src="/gloves/gloves_6_12000_남한손.jpg"   class="border border-primary"width="180" ></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        골프장갑(남성)<br>
                                                        반양피 원단 <br>
                                                        양손 장갑  <br>
                                                        <div class="text-danger">15,000원</div>
                                                        <div class="text-success">(5,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        골프장갑(남성)<br>
                                                        반양피 T3711<br>
                                                        양손 장갑  <br>
                                                        <div class="text-danger">15,000원</div>
                                                        <div class="text-success">(5,000KPoint)</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><br><hr>
                                                        <a href="glovesdetail/?name=gloves_015"><img src="/gloves/gloves_11_10000_남한손.jpg" class="border border-primary" width="180"></a>
                                                    </td>
                                                    <td><br><hr>
                                                        <!-- <a href= "gloves_16"><img src="/gloves/gloves_12_10000_여한손.jpg"   class="border border-primary"width="180" ></a> -->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        골프장갑(남성)<br>
                                                        합성피혁T5803M <br>
                                                        양손 장갑  <br>
                                                        <div class="text-danger">15,000원</div>
                                                        <div class="text-success">(5,000KPoint)</div>
                                                    </td>
                                                    <td>
                                                        
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>  
                                </div>  
                        </div>
                        
                            
                            <!-- 2열 -->
                            <div class="col-lg-6">
                                <div class="col-lg-5">
                                    <img src="/img/kk.png"  width="100%" >
                                </div>      
                            </div>
                        </div>
                        </div> 

                        </div>
                    </div>

                    <!--row-->

                </div>
            </div>
        </div>
    <!-- Outer Row -->
    </div>
</body>
</html>