<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>케이그라운드와 함께 해주셔서 감사합니다~</title>

    <!-- 외부의 있는 ejs 파일을 해당하는 곳에 포함한다.-->
    <%- include("header.ejs") %>
    
</head>
    
<body class="bg-gradient-primary">
    <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6"> 
                            <div class="p-5">
                                <div class="text-center">
                                    <img src="/img/k.png" width="10%">
                                    <h6>신개념 골프플랫폼 케이그라운드</h6>
                                </div>
                                <br>
                                <p> &nbsp;&nbsp;<%=login_data['username']%>님 K포인트 : <%=amount*100%></p>
                                <br>
                                    &nbsp;&nbsp;
                                    <a href="/contract/charge"><img src="/img/001.png"  alt="충전하기"></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/enterpay"><img src="/img/002.png" alt="2,000Kpoint결제(대회참가결제)"></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/contract/charge"><img src="/img/003.png"  alt="스크린게임비결제"></a>
                                    <br>
                                    
                                    &nbsp;&nbsp;
                                    <a href="/contract/charge"><img src="/img/004.png"  alt="충전내역"></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/contract/charge"><img src="/img/005.png" alt="입금내역"></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/contract/charge"><img src="/img/006.png" alt="출금내역"></a>
                                    <br>
                                    
                                    &nbsp;&nbsp;
                                    <img src="/img/010.png" href="/contract/charge" alt="스코어등록"></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <img src="/img/008.png" href="/contract/charge" alt="대회현황"></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <img src="/img/009.png" href="/contract/charge" alt="대회규정"></a>
                                    <br>
                                    
                                    &nbsp;&nbsp;
                                    <img src="/img/007.png" href="/contract/charge" alt="공지사항"></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <img src="/img/011.png" href="/contract/charge" alt="정보수정"></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <img src="/img/015.png" href="/contract/charge" alt="로그아웃"></a>
                                    <br>
                                    &nbsp;&nbsp;
                                    <img src="/img/013.png" href="/contract/charge" alt="충전하기"></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <img src="/img/014.png" href="/contract/charge" alt="충전하기"></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <img src="/img/015.png" href="/contract/charge" alt="충전하기"></a>
                                    <br>
                                    </div>
                                </div>  
                            <!-- </div>
                        </div> -->
                        <div class="col-lg-5"><img src="/img/kk.png"  width="100%" ></div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>