<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/js/custom.js"></script>

    <title>케이그라운드와 함께 해주셔서 감사합니다~</title>

    <!-- 외부의 있는 ejs 파일을 해당하는 곳에 포함한다.-->
    <%- include("header.ejs") %>
    
</head>
    
<body class="bg-gradient-primary">
    <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <!-- 1열 -->
                        <div class="col-lg-6"> 
                            <div class="p-6">
                                <div class="text-center">
                                    <br>
                                    <img src="/img/k.png" width="10%">
                                    <h6>골프플랫폼 케이그라운드</h6>
                                </div>
                                <br>
                                <!-- Earnings (Monthly) Card Example -->
                                <div class="text-center">
                                    <div class="col-xl-12 col-md-6 mb-4">
                                        
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                  
                                                    <div class="col mr-2">
                                                        <table>
                                                            <tr>
                                                                <td width="150">
                                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                        &nbsp;&nbsp;&nbsp;&nbsp;<%=login_data['username']%>님
                                                                    </div>
                                                                </td>
                                                                <td rowspan="2" width="100">
                                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                        <div align="right">
                                                                            <%if(login_data['tier'] == 1){ %>
                                                                                <img src="img/tier_004.png" width="50px">
                                                                            <%}%>
                                                                            <%if(login_data['tier'] == 2){ %>
                                                                                <img src="img/tier_003.png" width="50px">
                                                                            <%}%>                     
                                                                            <%if(login_data['tier'] == 3){ %>
                                                                                <img src="img/tier_002.png" width="50px">
                                                                            <%}%>                                                                             
                                                                            <%if(login_data['tier'] == 4){ %>
                                                                                <img src="img/tier_001.png" width="50px" height="60px">
                                                                            <%}%>                                                                                                                              
                                                                            <br>
                                                                            <%if(login_data['tier'] == 1){ %>
                                                                                버디
                                                                            <%}%>
                                                                            <%if(login_data['tier'] == 2){ %>
                                                                                이글
                                                                            <%}%>                     
                                                                            <%if(login_data['tier'] == 3){ %>
                                                                                알바트로스
                                                                            <%}%>                                                                             
                                                                            <%if(login_data['tier'] == 4){ %>
                                                                                콘도르
                                                                            <%}%> 
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="h6 mb-0 font-weight-bold text-gray-800">
                                                                            <%aa=amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                                                    K포인트 : <%=aa%>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="/contract/charge"><img src="/img/80_001.png"  alt="충전하기"></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/contract/charge_list"><img src="/img/80_007.png"  alt="KPoint충전내역"></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/contract/kp_list"><img src="/img/80_006.png"  alt="KPoint전체 사용내역"></a>
                                <br><br>
                                
                                <a href="/contract/enterpay"><img src="/img/80_002.png" alt="페스티벌 참가결제"></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/contract/enterpay_list"><img src="/img/80_022.png" width="80px" alt="스코어리스트"></a> 
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/contract/score_list"><img src="/img/80_021.png" alt="스코어리스트+ 등록"></a>
                                <br><br>
                                
                                <a href="/contract/gamepay"><img src="/img/80_023.png"  alt="매장결제"></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/contract/gamepay_list"><img src="/img/80_024.png" alt="매장결제이력"></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/contract/kp_trans"><img src="/img/80_025.png" width="80px" alt="KP보내기"></a>
                                <br><br>
                                
                                <a href="/golf/ksfc"><img src="/img/80_014.png" alt="KSFC선수등록"></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/golf/stroke_rank"><img src="/img/80_026.png" alt="KSFC랭킹"></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="golf/regu"><img src="/img/80_010.png"  alt="대회규정"></a>
                                <br><br>

                                <a href="golf/notice"><img src="/img/80_008.png" alt="공지사항"></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/my"><img src="/img/80_012.png" alt="나의정보"></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/logout"><img src="/img/80_015.png" alt="로그아웃"></a>
                                <br><br>
                                <a href="https://www.payapp.kr/L/z2TBxB/z3sgLB4?PREPAGE"><img src="/img/80_013.png"  alt="홀인원만 참가하기"></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/contract/score_list"><img src="/img/80_009.png" alt="나의 스트로크"></a><br><br>
                            </div>
                        </div>  

                        <!-- 2열  -->
                        <div class="text-center">
                            <div class="col-lg-6">
                                <img src="/img/kk.png"  width="50%" >
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    </div>   
</body>
</html>