<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>케이그라운드와 함께 해주셔서 감사합니다~</title>

    <!-- 외부의 있는 ejs 파일을 해당하는 곳에 포함한다.-->
    <%- include("header.ejs") %>
    
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <!-- <script>
        function charge(){
            location.href = '/contract/charge'
        }
    </script> -->
</head>
    
<body class="bg-gradient">
    <div class="container">
        <div class="text-center">
            <br><br>
            <h1 class="h4 text-gray-900 mb-4">케이그라운드메인페이지</h1>
            <hr>
            <!-- <div class="text-center">
                <button class="btn btn-primary" onclick="location.href='/user/signup'">회원가입</button>  
                <hr>     
                <button class="btn btn-primary" onclick="location.href='/user/login'">로그인</button>  
                <hr>            
                <button class="btn btn-danger" onclick="location.href='/contract/charge'">충전하기</button>  
                <hr>
                <button class="btn btn-success" onclick="location.href='/golf/regist'">SGA 대회참가신청</button>
                <hr>
                <button class="btn btn-Secondary" onclick="location.href='/user/logout'">로그아웃</button>
            </div>  
            <hr>
            <button class="btn btn-Secondary" onclick="location.href='/user/my'">my</button>
        </div> -->
    </div>
</body>
</html>