<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/js/custom.js"></script>
<style>
    .display{
        display: none;
    }
   
    .very-small {
        font-size: 11px;
    }
</style>
    <title>케이그라운드와 함께 해주셔서 감사합니다~</title>

    <!-- 외부의 있는 ejs 파일을 해당하는 곳에 포함한다.-->
    <%- include("header.ejs") %>
    
</head>
    
<body class="bg-gradient-primary">
    <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <!-- 1열 -->
                        <div class="col-lg-6"> 
                            <div class="p-6">
                                <div class="text-center">
                                     
                                    <img src="/img/kkk.jpg" width="100%">
                                    
                                </div>
                                
                                <!-- Earnings (Monthly) Card Example -->
                                <div class="text-center">
                                    <div class="col-xl-10 col-md-6 mb-2">
                                        
                                        <div class="card border-left-primary shadow h-100 py-1">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                  
                                                    <div class="col mr-2">
                                                        <table>
                                                            <tr>
                                                                <td align="center" width="300px">
                                                                    <div class="text-primary" align="center">
                                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                                        <span  id="check_admin">
                                                                            <%=login_data['username']%>님<br><br>
                                                                        </span>
                                                                        <div class="display" id="info"> 
                                                                            <input id="_id" value="<%=login_data['phone']%>" ><br>
                                                                            <a href="/admin/admin_index">관리자모드로</a>
                                                                        </div>
                                                                    </div>
                                                                </td>                                                               
                                                            </tr>

                                                            <tr>
                                                                <td align="center">
                                                                    <div class="text-center  small " align="center">
                                                                            <%aa=amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                                                    K포인트 : <%=aa%>
                                                                                    <!-- <br><br><a href="/index">refresh</a> -->
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <img src="/img/6_12th_holein.png" width="300px" ><br><br>

                                <!-- 1행 -->
                                <a href="/contract/enterpay"><img src="/img/80_004.jpg" width="80px" alt="페스티벌 참가결제"></a>
                                &nbsp;&nbsp;
                                <a href="/contract/kp_list"><img src="/img/80_003.jpg" width="80px" alt="KPoint 전체거래내역"></a>
                                &nbsp;&nbsp;
                                <a href="my_2"><img src="/img/80_i02.jpg"  width="80px" alt="결제비밀번호변경"></a>
                                <br><br>


                                <a href="/contract/charge"><img src="/img/80_001.jpg" width="80px"  alt="충전하기"></a>
                                &nbsp;&nbsp;
                                <a href="/trophy"><img src="/img/80_019.jpg" width="80px" alt="페스티벌 상금"> </a>
                                &nbsp;&nbsp;
                                <a href="golf/onlyholein">
                                    <img src="/img/80_009.jpg" width="80px"  alt="홀인원만 참가하기">
                                </a>
                                <br><br>

                                <a href="/contract/charge_list"><img src="/img/80_002.jpg"  width="80px" alt="KPoint충전내역"></a>
                                &nbsp;&nbsp;
                                <a href="https://bkscreenshop.cafe24.com/article/%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD/1/87/">
                                    <img src="/img/80_022.jpg" width="80px" alt="페스티벌결과">
                                </a>                                
                                &nbsp;&nbsp;
                                <a href="golf/notice"><img src="/img/80_015.jpg" width="80px" alt="공지사항"></a>
                                 <br><br>

                                 <a href="/contract/gameang"><img src="/img/80_007.jpg"  width="80px" alt="가맹점결제"></a> 
                                 &nbsp;&nbsp;
                                 <a href="/contract/kp_trans"><img src="/img/80_010.jpg" width="80px" alt="KP보내기"></a>
                                 <!-- <a href="/contract/score_list"><img src="/img/80_006.jpg" width="80px" alt="스코어리스트+ 등록"></a> -->
                                 &nbsp;&nbsp;
                                 <a href="golf/regu"><img src="/img/80_018.jpg" width="80px" alt="대회규정"></a>
                                 <br><br>
 
                                 <a href="/contract/gamepay_list"><img src="/img/80_008.jpg" width="80px" alt="매장결제이력"></a>
                                 &nbsp;&nbsp;
                                 <a href="/contract/transpay_list"><img src="/img/80_011.jpg" width="80px" alt="KP보내기내역"></a>
                                 <!-- <a href="golf/ksfc_list"><img src="/img/80_014.jpg" width="80px" alt="KSFC리스트 "></a> -->
                                 &nbsp;&nbsp;
                                 <a href="my_1"><img src="/img/80_i01.jpg" width="80px"  alt="로그인비밀번호변경"></a>
                                 <br><br>
 
                                 <a href="golf/ksfaga"><img src="/img/80_021.jpg" alt="대한생활체육" width="75px" height="80px"></a>
                                 &nbsp;&nbsp;
                                 <a href="golf/bkecho"><img src="/img/80_020.jpg" width="80px" alt="BK>친환경"></a>
                                 &nbsp;&nbsp;
                                 <a href="my_3"><img src="/img/80_i03.jpg" width="80px" alt="나의정보입력">
                                <br><br>

                                <a href="/shop/shop"><img src="/img/80_021.png" width="80px" alt="쇼핑몰"></a>
                                &nbsp;&nbsp;
                                <a href="golf/holeinlistcd"><img src="/img/80_022.png" alt="명예의 전당" width="75px" height="80px"></a>
                                &nbsp;&nbsp;
                                <a href="http://pf.kakao.com/_ttxaSxj/chat"><img src="/img/80_019.png" alt="고객센터" width="80px" height="80px"></a>
                                <br><br>
                                 
                                <!-- <a href="my_3"><img src="/img/80_i03.jpg" width="80px" alt="나의정보입력"> -->
                                &nbsp;&nbsp;
                                <!-- <a href="/shop/shop"><img src="/img/80_021.png" width="80px" alt="쇼핑몰"></a> -->
                                &nbsp;&nbsp;
                                <a href="/logout"><img src="/img/80_017.jpg" width="80px" alt="로그아웃"></a>
                                <br><br>

                                                            
                            </div>
                        </div>  


                        
                        
                        <!-- 2열  -->
                        <div class="text-center">
                            <div class="col-lg-6">
                                <img src="/img/kk.png"  width="50%" >
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    </div>  
    <script>
        $('#check_admin').click(function(){
            const input_id = $('#_id').val()
            // alert("input_id=",input_id)
            // ajax을 이용하여 서버와 비동기 통신
            // 해당하는 id가 데이터베이스에 존재하는가?
            $.ajax(
                {
                    url : '/check_admin',   //비동기 통신을 할 주소값
                    method : 'get', 
                    datatype : 'json', 
                    data : {
                        _id : input_id,
                    }
                }
            )
            .done(function(result){
                if(result){
                    $('#info').toggleClass('display')
                    $('#check_id').toggleClass('display')
                    $('#_id').attr('readonly', 'true')
                }else{
                    // alert("이미 케이그라운드의 회원이십니다.")
                }
            })
        })
        </script> 
</body>
</html>