<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>케이그라운드와 함께 해주셔서 감사합니다~</title>

    <!-- 외부의 있는 ejs 파일을 해당하는 곳에 포함한다.-->
    <%- include("header.ejs") %>
    
</head>
    
<body class="bg-gradient-primary">
    <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6"> 
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">케이그라운드메인페이지</h1>
                                </div>
                                <br>
                                <p><%=login_data['username']%>님 K포인트 : <%=amount*100%></p>
                                <div class="text-center">       
                                    <button class="btn btn-danger" onclick="location.href='/contract/charge'">충전하기</button>  
                                    <br><br>
                                    <button class="btn btn-primary" onclick="location.href='/contract/trans_from_token20'">2,000Kpoint결제(대회참가결제)</button>
                                    <br><br>
                                    <button class="btn btn-primary" onclick="location.href='/contract/trans_from_token'">스크린게임비결제</button>
                                    <br><br>
                                    <button class="btn btn-success" onclick="location.href='/regist'">지역선수권신청</button>
                                    <br><br>
                                    <button class="btn btn-Secondary" onclick="location.href='/logout'">로그아웃</button>
                                    <br><br>
                                    <button class="btn btn-Secondary" onclick="location.href='/my'">내정보</button>
                                </div>  
                            </div>
                        </div>
                        <div class="col-lg-5"><img src="/img/001.png"  width="100%" height="100%"></div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>