<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%- include('header.ejs') %>
    <style>
        .display{
            display: none;
        }
    </style>
</head>
    <body class="bg-gradient-primary">

        <div class="container">
            <div class="text-center">
                <br>
                <a id="signinlink" href="javascript:history.back()" ><img src="/img/home.png"></a>
            </div>
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">

                            <!-- Nested Row within Card Body -->
                            <!-- <div class="row"> -->
                                <!--<div class="col-lg-5 d-none d-lg-block bg-login-image"><div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                                <!-- 1열 -->
                                <div class="col-lg-15"> 
                                    <div class="p-7">
                                        <div class="text-center">
                                            <img src="/img/005.jpg" width="300px">
                                            <h6>대한생활체육 골프협회</h6>
                                        </div>
                                        <br>
                                        <!-- Earnings (Monthly) Card Example -->
                                        <div class="text-center">
                                            <div class="col-xl-12 col-md-6 mb-4">
                                                <div class="card border-left-primary shadow h-100 py-2">
                                                    <!-- <div class="card-body"> -->
                                                        <div class="row no-gutters align-items-center">
                                                            <!-- <div class="col mr-2"> -->
                                                                <!-- <img src="/img/notice.png"> -->
                                                                <br><br>
                                                                <img src="/img/KakaoTalk_20230906_192644262_03.jpg" width="280px">
                                                                <img src="/img/KakaoTalk_20230906_192644262_01.jpg" width="280px">
                                                                <img src="/img/KakaoTalk_20230906_192644262_02.jpg" width="280px">
                                                            <!-- </div> -->
                                                        </div>
                                                    <!-- </div> -->
                                                </div>
                                            </div>
                                        </div> 
                                        <hr> 
                                    <!-- <div class="container">
                                        <iframe src="https://bkscreenshop.cafe24.com/article/%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD/1/54/ "></iframe>
                                    </div>        -->
                                    </div>    
                                </div>
                                <!-- <div class="col-lg-5">
                                    <img src="/img/kk.png"  width="100%" >  
                                </div>     -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

