<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <%- include('header.ejs') %>
    <style>
        .display{
            display: none;
        }
    </style>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://sandbox.cookiepayments.com/js/cookiepayments-1.1.3.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    cookiepayments.init({
    api_id : 'hfa455h8q4e', //쿠키페이 결제 연동 id
});

function pay() {
    cookiepayments.payrequest({
        ORDERNO: $("#ORDERNO").val(), //주문번호 (필수)
        PRODUCTNAME: $("#PRODUCTNAME").val(), //상품명 (필수)
        AMOUNT: $("#AMOUNT").val(), //결제 금액 (필수)
        BUYERNAME: $("#BUYERNAME").val(), //고객명 (필수)
        BUYEREMAIL: $("#BUYEREMAIL").val(), //고객 e-mail (필수)
        PAYMETHOD: $("#PAYMETHOD").val(), //결제 수단 (선택)
        PRODUCTCODE: $("#PRODUCTCODE").val(), //상품 코드 (선택)
        BUYERID: $("#BUYERID").val(), //고객 아이디 (선택)
        BUYERADDRESS: $("#BUYERADDRESS").val(), //고객 주소 (선택)
        BUYERPHONE : $("#BUYERPHONE").val(), //고객 휴대폰번호 (선택, 웰컴페이는 필수)
        RETURNURL: $("#RETURNURL").val(), //결제 완료 후 리다이렉트 url (필수)
        ETC1 : $("#ETC1").val(), //사용자 추가필드1 (선택)
        ETC2 : $("#ETC2").val(), //사용자 추가필드2 (선택)
        ETC3 : $("#ETC3").val(), //사용자 추가필드3 (선택)
        ETC4 : $("#ETC4").val(), //사용자 추가필드4 (선택)
        ETC5 : $("#ETC5").val(), //사용자 추가필드5 (선택)
    });
}

</script>
  
<!-- JS API 결제요청 호출시 설정된 파라메터 중
상품명, 결제금액, 휴대폰번호에 대한 값이 없거나 올바르지 않을 경우, 이용자에게 입력받는 화면이 호출이 됩니다. -->
<!-- <script src="//lite.payapp.kr/public/api/payapp-lite.js"></script> -->
<!-- <script>
    
    PayApp.setDefault('userid',     'hfa455h8q4e');
    PayApp.setDefault('shopname',   '케이그라운드');
    function payappPay(){
        PayApp.setParam('goodname', '참가권 구매');
        PayApp.setParam('price', $('#price').val());
        PayApp.setParam('recvphone', $('#phone').val());
        PayApp.setParam('returnurl', 'https://kground.co.kr/payment/?price='+$('#price').val()+"&phone="+ $('#phone').val());
        PayApp.setParam('openpaytype', 'card,phone,kakaopay,naverpay,smilepay');
        PayApp.setParam('smsuse', 'n');
        PayApp.setParam('redirectpay', '1');
        PayApp.setParam('skip_cstpage', 'y');
        PayApp.call();
    }
</script> -->
<style>
    .box01{
    text-align: center;
    }
    .box01 input{
    border:none;
    font-size:15px;
    outline:none;
    text-align:center;
    }
    .box01 button{
    border:none;
    width:60px;
    max-width:100px;
    vertical-align:bottom;
    }
    .box01 button img{
    width:100%;
    }
    input[type=button11]{
        background-color: #ED4C00;
        color:white;
        width: 165px;
        height:23px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 6px;
        border: 0;
        outline: 0;
        }
</style>
<script> 
    function copy_to_clipboard() { 
        var copyText = document.getElementById("myInput"); 
        copyText.select(); 
        document.execCommand("Copy"); 
        } 

    window.call = function () {
        alert('결제가 완료되었습니다');
        location.href= "index";
    }
    function popup(){
        myPopup=window.open("/error_login", "kground", "width=500, height=300");
    }
    function close(){
        window.close(myPopup) 
    }
    function fail(){
              alert("페스티벌 참가권을 구매해 주세요")
    }
</script>

</head>

<%if(st==0){%>
<body class="bg-gradient-primary" onload="fail()"  >
    <%}else{%>
        <body class="bg-gradient-primary" >
            <%}%>

    <body class="bg-gradient-primary">

        <div class="container">
            <div class="text-center">
                <br>
                <a id="signinlink" href="/index" ><img src="/img/home.png"></a>
    
            </div>
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <!--<div class="col-lg-5 d-none d-lg-block bg-login-image">
                                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                            
                                <div class="col-lg-6"> 
                                    <div class="p-5">
                                        <div class="text-center">
                                            무통장입금

                                        </div>
                                        <br>
                                        <!-- Earnings (Monthly) Card Example -->
                                        <div class="text-center">
                                            <div class="col-xl-12 col-md-6 mb-4">
                                                <div class="card border-left-primary shadow h-100 py-2">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                                 
                                                                    &nbsp;&nbsp;<%=username%>님
                                                                </div>
                                                                <div class="h6 mb-0 font-weight-bold text-gray-800">
                                                                    <%aa=amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                                                    K포인트 : <%=aa%>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <b>
                                            <div class="text-danger text-center" >
                                                <!-- ※ Kpoint 충전은  무통장 입금으로만 가능합니다.
                                                <br>입금 후,
                                                <br>고객센터에 금액과 전번을 알려주십시오. -->
                                                <br><br>
                                            </div>
                                        </b>
                                        <div class="text-primary text-center" >
                                            입금계좌 →  
                                            <br>농협(비케이종합마케팅협동조합)
                                            <br>
                                            
                                            <FORM METHOD=POST ACTION="">
                                                <p class="box01"> 
                                                <input type="button11" id="myInput"   value='3010319217141'> 
                                                
                                                    <button onclick="copy_to_clipboard()">
                                                        <img src="https://blog.kakaocdn.net/dn/N1wUc/btqIl7XZtKM/b44qX9Six1vczz2ISWj4LK/img.png" width="100%" alt="복사하기">
                                                    </button>
                                                </p>
                                            </FORM>
                                        
                                                                                     
                                            <br><br>
                                            <a href="http://pf.kakao.com/_ttxaSxj/chat"><img src="/img/80_019.png" alt="고객센터" width="80px" height="80px"></a>
                                        </div>
                                        <hr>
                                        <!-- <hr>
                                        <form role="form" action="charge" method="post" >
                                            <fieldset> 
                                                <div class="h6 mb-0 font-weight-bold text-gray-800">
                                                    <br><br>
                                                    <label class="control-label">참가권 구매</label>
                                                    <br>
                                                    <input class="form-control" type="text" id="RETURNURL" name="RETURNURL" 
                                                    value="https://kground.co.kr/payment/?price='+$('#AMOUNT').val()+"&phone="+ $('#BUYERPHONE').val()" readonly >
                                                    <input class="form-control" type="text" id="PRODUCTNAME" name="PRODUCTNAME" 
                                                    value="페스티벌 참가권 구매" readonly >
                                                    <input class="form-control"type="text" name="PAYMETHOD" id="PAYMETHOD" placeholder="결제수단" 
                                                    value="CARD, KAKAOPAY, NAVERPAY, BANK, VACCT, MOBILE"><br>    
                                                    <div class="text-primary" align="center">
                                                        <i class="fas fa-calendar fa-2x text-gray-300">
                                                            ※ 구매권 구매갯수 선택(필독)<br>
                                                            
                                                        </i>
                                                    </div>
                                                    <select class="form-select" name="AMOUNT" id="AMOUNT">
                                                        <option value=2000>1개 : 2,000원</option>
                                                        <option value=10000>5개 : 10,000원</option>
                                                        <option value=20000>10개 : 20,000원</option>
                                                    </select>
                                                    <br>
                                                    <input class="form-control" type="text" id="BUYERPHONE" name="BUYERPHONE" 
                                                    value="<%=phone%>" readonly >
                                                    
                                                </div>
                                                <br>
                                                
                                                <br>
                                                
                                                <div class="text-danger text-center">
                                                    <input type="submit"  class="btn btn-danger" value="구매하기(테스트용)" onclick="pay()">   
                                                    <br>
                                                    <div class="very-small">
                                                        → 카드, 페이 등 간편결제가 진행이 됩니다
                                                    </div>
                                                    <br><br>
                                                    <hr>
                                                    
                                                    </div>
                                                    
                                            </div>
                                            </fieldset>
                                        </form>
                                    <hr>          -->
                                    </div>    
                                </div>
                                <div class="col-lg-5">
                                    <img src="/img/kk.png"  width="100%" >  
                                
                                    
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

