<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">  
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <div>                
            <div>
                <a id="signinlink" href="javascript:history.back()" >돌아가기</a>
            </div>  
            <div>
                 <div>    
                    <div class="form-group">
                        <br><br>
                        <label>결제하기</label>
                    </div>
                    <form role="form" action="/paying_payApp" method="post" >
                        <fieldset> 
                            <div class="form-group">
                                <br><br>
                                <label class="control-label">충전금액선택</label><br>
                                <select class="form-control" name="price" >
                                    <option value=20000>20000원 -> 20000 KPoint</option>
                                    <option value=50000>50000원 -> 50000 KPoint</option>
                                    <option value=100000>100000원 -> 100000 KPoint</option>
                                    <option value=200000>200000원 -> 200000 KPoint</option>
                                    <option value=300000>300000원 -> 300000 KPoint</option>
                                </select>
                                <br>
                                <input class="form-control" type="number" name="phone" value="" required ="required" placeholder="휴대폰번호를 입력하세요">
                            </div>
                            <button type="submit">충전하기</button>
                        </fieldset>
                    </form>         
                </div>    
            </div>
        </div>
    </body>
</html>