<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">  
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <%- include('header.ejs') %>
        <script>

            function end(){

                opener.call()
                window.close()
        }

        </script>
    </head>
    <body onload = "end()">
        <div  class="text-center">                
            <br><br><br><br><br>
       
            결제금액 : <%=price%><br><br>

            <label>결제가 완료되었습니다.</label>
        </div>
            <br> 
        <div class="text-center">    
                
            <button class="btn btn-danger" onclick='href="/index"'>케이그라운드로 가기</button> 
        </div>    

    </body>
</html>