<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- header 파일을 포함 -->
    <%- include('header.ejs') %>

</head>
<body>
    <div class="text-center">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">지역 선수 선발전 참가 신청</h1>
        </div>    
    </div>
    <hr>
    <br>
    <!-- 유저게임참가 상황을 등록하는 입력창을 하나 구현  -->     
    <div class="contianer">
        <table class="table">
            <form action="/regist" method="post">
                <tr>
                    <th>대회참가: </th>
                    <td>
                           <input type="radio" name="input_gamenumber" value="1" class="btn-check"  id="btnradio20" autocomplete="off" checked="">
                           <label class="btn btn-outline-primary" for="btnradio20">제5회 대회(지역선수 선발전, 7~9월)</label>
                    </td>
                </tr>
                <tr>
                    <th>성별선택: </th>
                    <th>
                        <input type="radio" name="input_gender" value="남" class="btn-check"  id="btnradio21" autocomplete="off" checked="">
                        <label class="btn btn-outline-primary" for="btnradio21">남</label>
                        <input type="radio" name="input_gender" value="여" class="btn-check"  id="btnradio22" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio22">여</label>
                    </th>
                </tr>
                <tr>
                    <th>지역선택: </th>
                    <th>
                        <input type="radio" name="input_jiyeok" value="서울특별시" class="btn-check"  id="btnradio1" autocomplete="off" checked="">
                        <label class="btn btn-outline-primary" for="btnradio1">서울특별시</label>
                        <input type="radio" name="input_jiyeok" value="부산광역시" class="btn-check"  id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">부산광역시</label>
                        <input type="radio" name="input_jiyeok" value="대구광역시" class="btn-check"  id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio3">대구광역시</label>
                        <input type="radio" name="input_jiyeok" value="인천광역시" class="btn-check"  id="btnradio4" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio4">인천광역시</label>
                        <input type="radio" name="input_jiyeok" value="광주광역시" class="btn-check"  id="btnradio5" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio5">광주광역시</label>
                        <input type="radio" name="input_jiyeok" value="대전광역시" class="btn-check"  id="btnradio6" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio6">대전광역시</label>
                        <input type="radio" name="input_jiyeok" value="울산광역시" class="btn-check"  id="btnradio7" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio7">울산광역시</label>
                        <input type="radio" name="input_jiyeok" value="제주특별자치도" class="btn-check"  id="btnradio8" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio8">제주특별자치도</label>
                        <br>
                        <input type="radio" name="input_jiyeok" value="강원도" class="btn-check"  id="btnradio9" autocomplete="off" >
                        <label class="btn btn-outline-primary" for="btnradio9">강원도</label>
                        <input type="radio" name="input_jiyeok" value="경기도" class="btn-check"  id="btnradio10" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio10">경기도</label>
                        <input type="radio" name="input_jiyeok" value="충청남도" class="btn-check"  id="btnradio11" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio11">충청남도</label>
                        <input type="radio" name="input_jiyeok" value="충청북도" class="btn-check"  id="btnradio12" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio12">충청북도</label>
                        <input type="radio" name="input_jiyeok" value="경상북도" class="btn-check"  id="btnradio13" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio13">경상북도</label>
                        <input type="radio" name="input_jiyeok" value="경상남도" class="btn-check"  id="btnradio14" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio14">경상남도</label>
                        <input type="radio" name="input_jiyeok" value="전라남도" class="btn-check"  id="btnradio15" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio15">전라남도</label>
                        <input type="radio" name="input_jiyeok" value="전라북도" class="btn-check"  id="btnradio16" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio16">전라북도</label>
                        <input type="radio" name="input_jiyeok" value="글로벌" class="btn-check"  id="btnradio17" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio17">글로벌</label>
                        <input type="radio" name="input_jiyeok" value="연예인팀" class="btn-check"  id="btnradio18" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio18">연예인팀</label>
                    </th>
                </tr>
                    <tr>
                        <th>생년월일입력(8자리) : </th>
                        <th>
                            <div>
                                <input type="text" name="input_birth" class="form-control" placeholder="생년월일을 입력하시오" aria-label="golf_code" aria-describedby="basic-addon3">
                            </div>
                        </th>
                        </tr>
                    </tr>
                    <tr>
                        <th>참가시스템: </th>
                        <th>
                            <!-- <div class="btn-group" role="group" aria-label="radio toggle button group"> -->
                                <input type="radio" value="8" class="btn-check" name="input_golfsys" id="btnradio23" autocomplete="off" checked="">
                                <label class="btn btn-outline-primary" for="btnradio23">GolfZon</label>
                                <input type="radio" value="9" class="btn-check" name="input_golfsys" id="btnradio24" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio24">GolfZon Park</label>
                                <input type="radio" value="3" class="btn-check" name="input_golfsys" id="btnradio25" autocomplete="off" >
                                <label class="btn btn-outline-primary" for="btnradio25">Kakao Friends</label>
                                <input type="radio" value="7" class="btn-check" name="input_golfsys" id="btnradio26" autocomplete="off" >
                                <label class="btn btn-outline-primary" for="btnradio26">UDR Golf</label>
                                <input type="radio" value="5" class="btn-check" name="input_golfsys" id="btnradio27" autocomplete="off" >
                                <label class="btn btn-outline-primary" for="btnradio27">K Golf</label>
                                <input type="radio" value="6" class="btn-check" name="input_golfsys" id="btnradio28" autocomplete="off" >
                                <label class="btn btn-outline-primary" for="btnradio28">GNC</label>
                                <input type="radio" value="4" class="btn-check" name="input_golfsys" id="btnradio29" autocomplete="off" >
                                <label class="btn btn-outline-primary" for="btnradio29">SG Golf</label>
                            <!-- </div> -->
                        </th>
                    </tr>
                </table>
                <br>
                <div class="container">
                    <input type="submit" value="참가등록" class = 'btn btn-success'>
           </form>
        </div>
       </div> 
    </div>


        
        <!-- 스코어 입력창 생성 
        <div class="contianer" style="margin-top: 30px;">
            <form action="/golf/add_hist" method="get">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">식품 코드</span>
                    <input type="text" name="input_code" class="form-control" placeholder="식품의 코드를 입력하시오" aria-label="food_code" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon4">식품 내역</span>
                    <input type="text" name="input_hist" class="form-control" placeholder="식품의 내역을 입력하시오" aria-label="food_code" aria-describedby="basic-addon4">
                </div>
                <input type="submit" value="식품 내역 추가" class = 'btn btn-primary'>
            </form>
        </div>
-->
         <!-- 상품의 내역을 확인하는 입력창 생성 
        <div class="contianer" style="margin-top: 30px;">
            <form action="/golf/view_hist" method="get">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon5">식품 코드</span>
                    <input type="text" name="input_code" class="form-control" placeholder="식품의 코드를 입력하시오" aria-label="food_code" aria-describedby="basic-addon5">
                </div>
                <input type="submit" value="식품 내역 보기" class = 'btn btn-primary'>
            </form>
        </div>
-->
 <!--        <!-- 식품의 가격을 추가 
        <div class="contianer" style="margin-top: 30px;">
            <form action="/golf/add_price" method="get">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon6">식품 코드</span>
                    <input type="text" name="input_code" class="form-control" placeholder="식품의 코드를 입력하시오" aria-label="food_code" aria-describedby="basic-addon6">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon7">식품 코드</span>
                    <input type="text" name="input_price" class="form-control" placeholder="식품의 코드를 입력하시오" aria-label="food_code" aria-describedby="basic-addon7">
                </div>
                <input type="submit" value="식품 가격 등록" class = 'btn btn-primary'>
            </form>
      </div>

        <div class="container">
            <button class="btn btn-primary" onclick="location.href='/user/drop2'">회원 탈퇴</button>
        </div>
    </div>
 --> 
</body>
</html>
