<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%- include('header.ejs') %>
    <style>
        .display{
            display: none;
        }
    </style>
</head>
    <body class="bg-gradient-primary">

        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="text-center">
                        <br>
                        <a id="signinlink" href="javascript:history.back()" ><img src="/img/home.png"></a>
                    </div>
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">

                            <!-- Nested Row within Card Body -->
                            <!-- <div class="row"> -->
                                <!--<div class="col-lg-5 d-none d-lg-block bg-login-image"><div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                                <!-- 1열 -->
                                <div class="col-lg-15"> 
                                    <div class="p-7">
                                        <div class="text-center">
                                            <img src="/img/005.jpg" width="300px">
                                            <br>
                                            <h6>케이그라운드 페스티벌  상금안내</h6>
                                        </div>
                                        <br>
                                        <!-- Earnings (Monthly) Card Example -->
                                        <div class="text-center">
                                            <div class="col-xl-12 col-md-6 mb-4">
                                                <div class="card border-left-primary shadow h-100 py-2">
                                                    <!-- <div class="card-body"> -->
                                                        <div class="row no-gutters align-items-center">
                                                            <!-- <div class="col mr-2"> -->
                                                                <!-- <img src="/img/notice.png"> -->
                                                                <img src="http://k.kakaocdn.net/dn/zRP8e/btsx134Gada/90FTwsIjTpfvkWumZ3TvnK/img_xl.jpg" width="250px">
                                                                <br>
                                                                <img src="http://k.kakaocdn.net/dn/nMhRo/btsx3Oshv9T/YyuTaalAPXAW0uKvmiocI0/img_xl.jpg" width="250px">
                                                                <br>
                                                                <img src="http://k.kakaocdn.net/dn/nMhRo/btsx3Oshv9T/YyuTaalAPXAW0uKvmiocI0/img_xl.jpg" width="250px">
                                                                <br>

                                                                <!-- <iframe width="100%" height="916px" src="https://www.bkscreen.com/article/%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD/1/52/"></iframe> -->
                                                            <!-- </div> -->
                                                        </div>
                                                    <!-- </div> -->
                                                </div>
                                                <br>
                                                <div class="text-center">
                                                         5회대회(7월 1일~ 9월 30일) 시상내역
                                                </div>
                                                
                                                <br>
                                                <div align="left">
                                                ■ 행운상 : 10월 18일 오후3시(유투브 라이브)<br>
                                                ■ 스트로크 : <br>
                                                   ▶ ▶ Golfzon : <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;열정아띠(-67), 까뤼섭(-55), 므슨일이고(-55),
                                                  <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;topstar(-54), 메테우스(-33)<br>
                                                     ▶ ▶ GolfZon Park : <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;랭킹제외(-85),topstar(-71), dk짱(-67),
                                                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;송풍파랑(-62), 우쭈쭈뇨자(-62)<br>
                                                     ▶ ▶ 프렌즈스크린 : <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;열정아띠(-74), 굿마이라이프(-72), majesty(-59),
                                                  <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;공치는두두(-47), 맨날대박(-38)<br>
                                                     ▶ ▶ SG 골프 : <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;열정아띠(-64), 구짱V(-55), 서비는프로(-52),
                                                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;가수정일송(-28), 까리한걸(-16)<br>
                                                     ▶ ▶ 케이골프:  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;둥이파파(-65), 호야놀자(-64), 샤인다라(-57),
                                                  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;나이스!하니(-53), 포에버영(-49)<br>
                                                                                           <br>
                                                
                                                ■ 최다참가상<br>
                                                
                                                <iframe src="https://kground.co.kr/papago_list " width="100%"  height="900px"></iframe>
                                                </div>
                                                

                                            </div>
                                        </div> 
                                        <hr> 
                                    <div class="text-center">
                                     
                                        <iframe src="https://kground.co.kr/papago_list "></iframe>
                                    </div>       

                                         
                                    </div>       
                                    </div>    
                                </div>
                                <div class="col-lg-5">
                                    <img src="/img/kk.png"  width="100%" >  
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

