<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대회참가비결제</title>
    <script src="https://lite.payapp.kr/public/api/payapp-lite.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%- include('header.ejs') %>

<script>
    window.call = function () {
        alert('결제가 완료되었습니다')
        location.href= "index"
    }
</script>

</head>
<body class="bg-gradient-primary">
    <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <h6 class="h6 mb-0 text-gray-800">
                            <img src="/img/kk.png" width="10%"> 케이그라운드 참가비결제
                        </h6>
                        <div class="col-lg-6"> 
                            <div class="p-5">
                                <div class="text-center">
                                    <h6 class="h5 text-gray-900 mb-4">대회참가비 2000Kpoint결제</h6>
                                    <div >
                                        <a id="signinlink" href="javascript:history.back()" >돌아가기</a>
                                    </div>
                                    <br><br>
                                    <br>■ 보유 Kpoint : <%=amount_1*100%>
                                    <br><br>
                                    <p>대회참가를 하시려면 다음을 입력하십시오</p>
                                    <label class="control-label">결제비밀번호(숫자6자리)</label>
                                    <br><br>
                                    <input class="form-control" type="number" name="amount" value="2000" readonly>
                                </div>
                                <br>
                                
                                <div class="text-center"> 
                                    <button class="btn btn-danger" onclick="location.href='/contract/enterpay'">참가비결제</button>
                                </div>    
                            </div>    
                        </div>
                        <div class="col-lg-5"><img src="/img/k.png"  width="100%" height="100%"></div>     
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>

