<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>케이그라운드와 함께 해주셔서 감사합니다~</title>

    <!-- 외부의 있는 ejs 파일을 해당하는 곳에 포함한다.-->
    <%- include("header.ejs") %>

</head>
    
<body>
    <br>
    <div class="row justify-content-center">
        <div class="container">
            <div class="col-xl-4 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                    <!-- Page Heading --> 
                    <br>
                        <div class="text-center">          
                            <h6 class="h6 mb-0 text-gray-800">
                                <img src="/img/kk.png" width="10%"> 케이그라운드
                            </h6>
                        </div>
                        <br>
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-10 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                <%=login_data['username']%>님 
                                            </div>
                                            <!--<div class="h5 mb-0 font-weight-bold text-gray-800"></div>-->
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                K포인트 : <%=amount*100%>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                                                <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    <!-- </div> -->

                    <div class="col-xl-14 col-lg-12 col-md-9">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <a href='/contract/charge' ><img src="img/001.png" alt="충전"></a>  
                                        &nbsp; &nbsp; &nbsp; &nbsp; 
                                        <a href='/contract/enterpay'><img src="img/002.png" alt="2000원결제"></a>
                                        &nbsp; &nbsp; &nbsp; &nbsp; 
                                        <a href='/contract/gamepay'><img src="img/003.png" alt="매장결제하기"></a>
                                            
                                        <br><br>
                                        <a href='/contract/enterpay'><img src="img/005.png" alt="입금내역"></a>
                                        &nbsp; &nbsp; &nbsp; &nbsp; 
                                        <a href='/my'><img src="img/006.png" alt="출금내역"></a>
                                        &nbsp; &nbsp; &nbsp; &nbsp; 
                                        <a href='/regist'><img src="img/013.png" alt="대화참가신청"></a>  
                                        

                                        <br><br>
                                        <a href='/contract/charge'><img src="img/007.png" alt="공지사항"></a>  
                                        &nbsp; &nbsp; &nbsp; &nbsp; 
                                        <a href='/contract/charge'><img src="img/008.png" alt="대회현황"></a>
                                        &nbsp; &nbsp; &nbsp; &nbsp; 
                                        <a href='/my'><img src="img/009.png" alt="대회규정"></a>

                                        <br><br>
                                        <a href='/contract/score'><img src="img/010.png" alt="스코어등록"></a>  
                                        &nbsp; &nbsp; &nbsp; &nbsp; 
                                        <a href='/my'><img src="img/011.png" alt="정보수정"></a>
                                        &nbsp; &nbsp; &nbsp; &nbsp; 
                                        <a href='/my'><img src="img/012.png" alt="홀인원만참가하기"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div class="text-center">    
                        <hr>
                        <button class="btn btn-Secondary" onclick="location.href='/logout'">로그아웃</button>
                    </div>   
                    <br>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


